@using Microsoft.AspNet.Identity
<div ng-controller="userController as userCtrl">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="" ng-click="userCtrl.logoutSubmit()">Log Off</a></li>

            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" ng-click="userCtrl.openRegisterModal()">Register</a></li>
            <li><a href="" ng-click="userCtrl.openLoginModal()">Login</a></li>
        </ul>
    }
</div>

<script type="text/javascript">
    (function () {
        angular.module("myApp")
            .factory('$userService', UserService)

        UserService.$inject = ['$http'];

        function UserService($http) {
            return {
                register: _register,
                login: _login,
                logout: _logout
            };

            function _register(data) {
                return $http.post('/api/user/register', data)
                    .then(onSuccess)
                    .catch(onError);
            }

            function _login(data) {
                return $http.post('/api/user/login', data)
                    .then(onSuccess)
                    .catch(onError);
            }

            function _logout() {
                return $http.post('/api/user/logout')
                    .then(onSuccess)
                    .catch(onError);
            }

            //function _changeCards(data) {
            //    return $http.post('/api/poker/deal', data)
            //        .then(onSuccessGetCards)
            //        .catch(onError);
            //}

            function onSuccess(response) {
                console.log("success?")
                return response.data;
            }

            function onError() {
                console.log("Something went wrong");
            }
        }
    })();
</script>



<script type="text/javascript">
    (function () {
        angular.module("myApp")
            .controller("ModalController", function ($scope, $uibModalInstance, $window, $userService, $uibModal) {

                var vm = this;
                vm.$userService = $userService;

                vm.registerSubmit = function (item) {
                    return $userService.register(item)
                        .then(vm.registerSuccess)
                };

                vm.registerSuccess = function (response) {
                    console.log("Registered Successfully")

                };

                vm.loginSubmit = function (item) {
                    return $userService.login(item)
                        .then(vm.loginSuccess)
                };

                vm.loginSuccess = function (response) {
                    location.reload();

                };



                vm.cancel = function () {
                    $uibModalInstance.dismiss('cancel');
                };

                vm.openLoginModal = function () {
                    $uibModalInstance.dismiss('cancel');
                    $uibModal.open({
                        templateUrl: "/Content/ModalTemplates/Login.html",
                        controller: "ModalController",
                        controllerAs: "modalCtrl",
                        size: "md",
                        backdrop: true,
                        windowClass: "app-modal-window",
                    }).result.then(function () {
                    }, function (res) {
                    });
                };

                vm.openRegisterModal = function () {
                    $uibModalInstance.dismiss('cancel');
                    $uibModal.open({
                        templateUrl: "/Content/ModalTemplates/Register.html",
                        controller: "ModalController",
                        controllerAs: "modalCtrl",
                        size: "md",
                        backdrop: true,
                        windowClass: "app-modal-window",
                    }).result.then(function () {
                    }, function (res) {
                    });
                }


            })

    })();


    (function () {
        angular.module('myApp')
            .controller("userController", UserController)
        UserController.$inject = ['$scope', '$userService', '$uibModal'];

        function UserController($scope, $userService, $uibModal) {
            var vm = this;
            vm.$scope = $scope;
            vm.$userService = $userService;
            vm.$uibModal = $uibModal;
            vm.openRegisterModal = _openRegisterModal;
            vm.openLoginModal = _openLoginModal;
            vm.logoutSubmit = _logoutSubmit;
            vm.logoutSuccess = _logoutSuccess;

            function _openRegisterModal() {
                var modal = $uibModal.open({
                    templateUrl: "/Content/ModalTemplates/Register.html",
                    controller: "ModalController",
                    controllerAs: "modalCtrl",
                    size: "md",
                    backdrop: true,
                    windowClass: "app-modal-window",
                }).result.then(function () {
                }, function (res) {
                });
            }

            function _openLoginModal() {
                var modal = $uibModal.open({
                    templateUrl: "/Content/ModalTemplates/Login.html",
                    controller: "ModalController",
                    controllerAs: "modalCtrl",
                    size: "md",
                    backdrop: true,
                    windowClass: "app-modal-window",
                }).result.then(function () {
                }, function (res) {
                });
            }
            function _logoutSubmit() {
                return $userService.logout()
                    .then(vm.logoutSuccess)
            };

            function _logoutSuccess(response) {
                location.reload();
            };
        }
    })();

</script>