
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="peopleController as pplCtrl">
    <h2>People Index Daniel</h2>

    <table class="table">
        <thead>
            <tr>
                <td>
                    <a class="btn btn-primary" href="/People/Create">Create</a>
                </td>
            </tr>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in pplCtrl.items">
                <td>{{person.id}}</td>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="pplCtrl.edit(person)">Edit</button>
                    <button type="button" class="btn btn-secondary" ng-click="pplCtrl.delete(person)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        (function () {
            angular.module("myApp")
                .factory('$peopleService', PeopleService)

            PeopleService.$inject = ['$http'];

            function PeopleService($http) {
                return {
                    getPeople: _getPeople,
                    deletePerson: _deletePerson

                };

                function _deletePerson(id) {
                    return $http.delete("/api/people/" + id)
                        .then(onSuccessDeletePerson)
                        .catch(onError);
                }


                function _getPeople() {
                    return $http.get('/api/people')
                        .then(onSuccessGetPeople)
                        .catch(onError);
                }

                function onSuccessGetPeople(response) {
                    return response.data;
                }
                function onSuccessDeletePerson(response) {
                    return response.data;
                }
                function onError() {
                }
            }
        })();
    </script>


    <script type="text/javascript">
        (function () {
            angular.module('myApp')
                .controller("peopleController", PeopleController)
            PeopleController.$inject = ['$scope', '$peopleService'];

            function PeopleController($scope, $peopleService) {
                var vm = this;
                vm.$scope = $scope;
                vm.$peopleService = $peopleService;

                vm.items = null;
                vm.getPeople = _getPeople;
                vm.item = null;
                vm.edit = _edit;
                vm.delete = _delete;
                vm.deleteItem = null;


                render();

                function render() {
                    return vm.getPeople()
                        .then(onCompleteGetPeople)
                }

                function _getPeople() {
                    return $peopleService.getPeople()
                        .then(fillPeopleItems)
                }
                function fillPeopleItems(data) {
                    vm.items = data.items;
                    console.log(vm.items);

                }
                function onCompleteGetPeople() {
                    console.log(vm.items);
                }

                function _edit(item) {
                    console.log(item);
                    //self.location = "/People/" + data.id + "/edit";
                }

                function _delete(item) {
                    vm.deleteItem = item;
                    return $peopleService.deletePerson(vm.deleteItem.id)
                        .then(deletePersonSuccess)
                }
                function deletePersonSuccess(data) {
                    console.log(data);
                    if (data.isSuccessful == true) {
                        var index = vm.items.indexOf(vm.deleteItem);
                        vm.items.splice(index, 1);
                    }
                }
            }
        })();
    </script>
}
