
@{
    ViewBag.Title = "CharacterCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="characterCreateController as charCtrl">
    <form ng-submit="charCtrl.submit(charCtrl.item)" name="charCreationForm" novalidate>
        <div class="row-fluid clearfix">
            <h4 class="float-l">Character Creation</h4>
            <ul class="nav nav-tabs pull-right">
                <li ng-class="{ active: charCtrl.isSet(1) }"><a href="" ng-click="charCtrl.setTab(1)">General Information and Main Stats</a></li>
                <li ng-class="{ active: charCtrl.isSet(2) }"><a href="" ng-click="charCtrl.setTab(2)">Health, Hit Dice and Death Saves</a></li>
                <li ng-class="{ active: charCtrl.isSet(3) }"><a href="" ng-click="charCtrl.setTab(3)">Skills</a> </li>
            </ul>
        </div><!--/.row-->

        <hr class="hr-dark">

        <div ng-show="charCtrl.isSet(1)">
            <div class="row">
                <h4 class="text-center">General Information</h4>
                <div class="clearfix col-lg-8 col-lg-offset-2">
                    <fieldset>
                        <div class="form-group">
                            <label for="characterName">Character Name</label>
                            <input type="text" ng-model="charCtrl.item.characterDetails.name" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="level">Level</label>
                            <input type="number" ng-model="charCtrl.item.characterDetails.level" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="class">Class</label>
                            <input type="text" ng-model="charCtrl.item.characterDetails.class" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="background">Background</label>
                            <input type="text" ng-model="charCtrl.item.characterDetails.background" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="playerName">Player Name</label>
                            <input type="text" ng-model="charCtrl.item.characterDetails.playerName" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="race">Race</label>
                            <input type="text" ng-model="charCtrl.item.characterDetails.race" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="alignment">Alignment</label>
                            <input type="text" ng-model="charCtrl.item.characterDetails.alignment" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="experiencePoints">Experience Points</label>
                            <input type="number" ng-model="charCtrl.item.characterDetails.experiencePoints" required class="form-control" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />

            <div class="row">
                <h4 class="text-center">Base Stats</h4>
                <hr>

                <div class="clearfix col-lg-8 col-lg-offset-2">

                    <fieldset class="span4">
                        <div class="form-group">
                            <label for="strength">Strength</label>
                            <input type="number" ng-model="charCtrl.item.mainStats.strength" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="dexterity">Dexterity</label>
                            <input type="number" ng-model="charCtrl.item.mainStats.dexterity" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="constitution">Constitution</label>
                            <input type="number" ng-model="charCtrl.item.mainStats.constitution" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="intelligence">Intelligence</label>
                            <input type="number" ng-model="charCtrl.item.mainStats.intelligence" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="wisdom">Wisdom</label>
                            <input type="number" ng-model="charCtrl.item.mainStats.wisdom" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="charisma">Charisma</label>
                            <input type="number" ng-model="charCtrl.item.mainStats.charisma" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="proficiencyBonus">Proficiency Bonus</label>
                            <input type="number" ng-model="charCtrl.item.mainStats.proficiencyBonus" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="inspiration">Inspiration</label><br />
                            <input type="checkbox" ng-model="charCtrl.item.mainStats.inspiration" ng-init="charCtrl.item.mainStats.inspiration = false" class="form-check-input" />
                        </div>

                    </fieldset>
                    <hr />
                </div>
                <input type="button" value="Next (Health, Hit Dice, DeathSaves)" class="btn btn-default pull-right" ng-click="charCtrl.setTab(2)" />

            </div>
        </div>
        <div ng-show="charCtrl.isSet(2)">

            <div class="row">
                <h4 class="text-center">Health Information</h4>

                <div class="clearfix col-lg-8 col-lg-offset-2">

                    <fieldset class="span4">
                        <div class="form-group">
                            <label for="maxHealth">Max Health</label>
                            <input type="number" ng-model="charCtrl.item.health.maxHealth" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="tempHealth">Temporary Health</label>
                            <input type="number" ng-model="charCtrl.item.health.tempHealth" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="currentHealth">Current Health</label>
                            <input type="number" ng-model="charCtrl.item.health.currentHealth" required class="form-control" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <h4 class="text-center">Hit Dice</h4>
                <hr>
                <div class="clearfix col-lg-8 col-lg-offset-2">

                    <fieldset class="span4">
                        <div class="form-group">
                            <label for="d4">D4</label>
                            <input type="number" ng-model="charCtrl.item.hitDice.d4" ng-init="charCtrl.item.hitDice.d4 = 0" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="d6">D6</label>
                            <input type="number" ng-model="charCtrl.item.hitDice.d6" ng-init="charCtrl.item.hitDice.d6 = 0" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="d8">D8</label>
                            <input type="number" ng-model="charCtrl.item.hitDice.d8" ng-init="charCtrl.item.hitDice.d8 = 0" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="d10">D10</label>
                            <input type="number" ng-model="charCtrl.item.hitDice.d10" ng-init="charCtrl.item.hitDice.d10 = 0" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="d12">D12</label>
                            <input type="number" ng-model="charCtrl.item.hitDice.d12" ng-init="charCtrl.item.hitDice.d12 = 0" required class="form-control" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr />
            <div class="row">
                <h4 class="text-center">Death Saves</h4>
                <hr>
                <div class="clearfix col-lg-8 col-lg-offset-2">

                    <fieldset class="span4">
                        <div class="form-group">
                            <label for="successes">Successes</label>
                            <input type="number" ng-model="charCtrl.item.deathSaves.successes" ng-init="charCtrl.item.deathSaves.successes = 0" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="failures">Failures</label>
                            <input type="number" ng-model="charCtrl.item.deathSaves.failures" ng-init="charCtrl.item.deathSaves.failures = 0" required class="form-control" />
                        </div>
                    </fieldset>
                    <hr />
                </div>
            </div>
            <input type="button" value="Next (Character Skills)" class="btn btn-default pull-right" ng-click="charCtrl.setTab(3)" />
            <input type="button" value="Back (Health, Hit Dice, DeathSaves)" class="btn btn-default pull-right" ng-click="charCtrl.setTab(1)" />
        </div>

        <div ng-show="charCtrl.isSet(3)">

            <div class="row">
                <h4 class="text-center">Skills</h4>
                <div class="clearfix col-lg-8 col-lg-offset-2">

                    <fieldset class="span4">
                        <div class="form-group">
                            <label for="acrobatics">Acrobatics</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.acrobatics" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.acrobaticsPro" ng-init="charCtrl.item.playerSkill.acrobaticsPro = false" type="checkbox">
                                Acrobatics proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="animalHandling">Animal Handling</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.animalHandling" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.animalHandlingPro" ng-init="charCtrl.item.playerSkill.animalHandlingPro = false" type="checkbox">
                                Animal Handling proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="arcana">Arcana</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.arcana" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.arcanaPro" ng-init="charCtrl.item.playerSkill.arcanaPro = false" type="checkbox">
                                Arcana proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="athletics">Athletics</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.athletics" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.athleticsPro" ng-init="charCtrl.item.playerSkill.athleticsPro = false" type="checkbox">
                                Athletics proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="deception">Deception</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.deception" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.deceptionPro" ng-init="charCtrl.item.playerSkill.deceptionPro = false" type="checkbox">
                                Deception proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">History</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.history" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.historyPro" ng-init="charCtrl.item.playerSkill.historyPro = false" type="checkbox">
                                History proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Insight</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.insight" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.insightPro" ng-init="charCtrl.item.playerSkill.insightPro = false" type="checkbox">
                                Insight proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Intimidation</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.intimidation" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.intimidationPro" ng-init="charCtrl.item.playerSkill.intimidationPro = false" type="checkbox">
                                Intimidation proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Investigation</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.investigation" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.investigationPro" ng-init="charCtrl.item.playerSkill.investigationPro = false" type="checkbox">
                                Investigation proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Medicine</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.medicine" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.medicinePro" ng-init="charCtrl.item.playerSkill.medicinePro = false" type="checkbox">
                                Medicine proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Nature</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.nature" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.naturePro" ng-init="charCtrl.item.playerSkill.naturePro = false" type="checkbox">
                                Nature proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Perception</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.perception" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.perceptionPro" ng-init="charCtrl.item.playerSkill.perceptionPro = false" type="checkbox">
                                Perception proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Performance</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.performance" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.performancePro" ng-init="charCtrl.item.playerSkill.performancePro = false" type="checkbox">
                                Performance proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Persuasion</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.persuasion" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.persuasionPro" ng-init="charCtrl.item.playerSkill.persuasionPro = false" type="checkbox">
                                Persuasion proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Religion</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.religion" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.religionPro" ng-init="charCtrl.item.playerSkill.religionPro = false" type="checkbox">
                                Religion proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Sleight of Hand</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.sleightofHand" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.sleightofHandPro" ng-init="charCtrl.item.playerSkill.sleightofHandPro = false" type="checkbox">
                                Sleight of Hand proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Stealth</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.stealth" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.stealthPro" ng-init="charCtrl.item.playerSkill.stealthPro = false" type="checkbox">
                                Stealth proficiency?
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="acrobatics">Survival</label>
                            <input type="text" ng-model="charCtrl.item.playerSkill.survival" required class="form-control" />
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="charCtrl.item.playerSkill.survivalPro" ng-init="charCtrl.item.playerSkill.survivalPro = false" type="checkbox">
                                Survival proficiency?
                            </label>
                        </div>
                    </fieldset>
                    <hr />
                </div>
            </div>
            <input type="submit" class="btn btn-success pull-right" @*ng-disabled="charCreationForm.$invalid"*@ value="Submit" />

            <input type="button" value="Back (Health, Hit Dice, DeathSaves)" class="btn btn-default pull-right" ng-click="charCtrl.setTab(2)" />

        </div>
    </form>

</div>



@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("myApp")
                .factory('$characterService', CharacterService)

            CharacterService.$inject = ['$http'];

            function CharacterService($http) {
                return {
                    charInsert: _charInsert
                };

                function _charInsert(item) {
                    return $http.post('/api/dnd/character/', item)
                        .then(onSuccessCharInsert)
                        .catch(onError);
                }

                function onSuccessCharInsert(response) {
                    return response.data;
                }

                function onError() {
                    console.log("Sucks");
                }
            }
        })();
    </script>

    <script type="text/javascript">
        (function () {
            angular.module("myApp")
                .controller('characterCreateController', CharacterCreateController)

            CharacterCreateController.$inject = ['$scope', '$characterService', 'toastr', '$timeout'];

            function CharacterCreateController($scope, $characterService, toastr, $timeout) {
                var vm = this;
                vm.$scope = $scope;
                vm.$characterService = $characterService;
                vm.item;
                vm.submit = _submit;
                vm.default = 0;
                vm.tab = 1;
                vm.setTab = _setTab;
                vm.isSet = _isSet;
                vm.submitPostSuccess = _submitPostSuccess
                render()

                function render() {
                }


                function _submit(data) {
                    return $characterService.charInsert(data)
                        .then(vm.submitPostSuccess)
                }

                function _submitPostSuccess(data) {
                    if (data.item == true) {
                        toastr.success("Your character has been created. Redirecting to all characters");
                        $timeout(function () {
                            self.location = "/DnD/Characters/"
                        }, 4000);

                    }
                    else {
                        toastr.error("Something went wrong, please contact Daniel");
                    }
                }

                function _setTab (newTab) {
                    vm.tab = newTab;
                };

                function _isSet (tabNum) {
                    return vm.tab === tabNum;
                };

            }
        })();
    </script>
}



