
@{
    ViewBag.Title = "Character";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bold {
        font-weight: bold;
    }
</style>

<input type="hidden" id="hiddenInput" value="@Model.Item" />

<div ng-controller="characterController as charCtrl">
    <h2>Character Profile</h2>
    <h4>Basic Character Stats</h4>
    <table class="table-bordered table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Level</td>
                <td>Background</td>
                <td>Player Name</td>
                <td>Race</td>
                <td>Alignment</td>
                <td>Experience Points</td>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{charCtrl.item.characterDetails.name}}</td>
                <td>{{charCtrl.item.characterDetails.level}}</td>
                <td>{{charCtrl.item.characterDetails.background}}</td>
                <td>{{charCtrl.item.characterDetails.playerName}}</td>
                <td>{{charCtrl.item.characterDetails.race}}</td>
                <td>{{charCtrl.item.characterDetails.alignment}}</td>
                <td>{{charCtrl.item.characterDetails.experiencePoints}}</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h4>Main Stats and Modifier</h4>
    <table class="table-bordered table">
        <thead>
            <tr>
                <td>Strength</td>
                <td>Dexterity</td>
                <td>Constitution</td>
                <td>Intelligence</td>
                <td>Wisdom</td>
                <td>Charisma</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{charCtrl.item.mainStats.strength}}</td>
                <td>{{charCtrl.item.mainStats.dexterity}}</td>
                <td>{{charCtrl.item.mainStats.constitution}}</td>
                <td>{{charCtrl.item.mainStats.intelligence}}</td>
                <td>{{charCtrl.item.mainStats.wisdom}}</td>
                <td>{{charCtrl.item.mainStats.charisma}}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td>Strength (+/-)</td>
                <td>Dexterity (+/-)</td>
                <td>Constitution (+/-)</td>
                <td>Intelligence (+/-)</td>
                <td>Wisdom (+/-)</td>
                <td>Charisma (+/-)</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{charCtrl.item.mainStatModifiers.strengthPlus}}</td>
                <td>{{charCtrl.item.mainStatModifiers.dexterityPlus}}</td>
                <td>{{charCtrl.item.mainStatModifiers.constitutionPlus}}</td>
                <td>{{charCtrl.item.mainStatModifiers.intelligencePlus}}</td>
                <td>{{charCtrl.item.mainStatModifiers.wisdomPlus}}</td>
                <td>{{charCtrl.item.mainStatModifiers.charismaPlus}}</td>
            </tr>
        </tbody>

    </table>
    <hr />
    <h4>Health and Hit Dice</h4>
    <table class="table-bordered table">
        <thead>
            <tr>
                <td>Max Health</td>
                <td>Temp Health</td>
                <td>Hit Dice</td>
                <td>Proficiency Bonus</td>
                <td>Inspiration</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{charCtrl.item.health.maxHealth}}</td>
                <td>{{charCtrl.item.health.tempHealth}}</td>
                <td>{{charCtrl.hitDice}}</td>
                <td>{{charCtrl.item.mainStats.proficiencyBonus}}</td>
                <td>{{charCtrl.item.mainStats.inspiration}}</td>


            </tr>
        </tbody>
    </table>
    <hr />
    <h4>Skills</h4>
    <table class="table-bordered table">
        <thead>
            <tr>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.acrobaticsPro}">Acrobatics</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.animalHandlingPro}">Animal Handling</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.arcanaPro}">Arcana</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.athleticsPro}">Athletics</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.deceptionPro}">Deception</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.historyPro}">History</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.acrobaticsPro}">{{charCtrl.item.playerSkill.acrobatics}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.animalHandlingPro}">{{charCtrl.item.playerSkill.animalHandling}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.arcanaPro}">{{charCtrl.item.playerSkill.arcana}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.athleticsPro}">{{charCtrl.item.playerSkill.athletics}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.deceptionPro}">{{charCtrl.item.playerSkill.deception}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.historyPro}">{{charCtrl.item.playerSkill.history}}</td>


            </tr>
        </tbody>


    </table>
    <table class="table-bordered table">
        <thead>
            <tr>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.insightPro}">Insight</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.intimidationPro}">Intimidation</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.investigationPro}">Investigation</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.medicinePro}">Medicine</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.naturePro}">Nature</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.perceptionPro}">Perception</td>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.insightPro}">{{charCtrl.item.playerSkill.insight}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.intimidationPro}">{{charCtrl.item.playerSkill.intimidation}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.investigationPro}">{{charCtrl.item.playerSkill.investigation}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.medicinePro}">{{charCtrl.item.playerSkill.medicine}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.naturePro}">{{charCtrl.item.playerSkill.nature}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.perceptionPro}">{{charCtrl.item.playerSkill.perception}}</td>

            </tr>
        </tbody>
    </table>

    <table class="table-bordered table">
        <thead>
            <tr>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.performancePro}">Performance</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.persuasionPro}">Persuasion</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.religionPro}">Religion</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.sleightofHandPro}">Sleight of Hand</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.stealthPro}">Stealth</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.survivalPro}">Survival</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.performancePro}">{{charCtrl.item.playerSkill.performance}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.persuasionPro}">{{charCtrl.item.playerSkill.persuasion}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.religionPro}">{{charCtrl.item.playerSkill.religion}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.sleightofHandPro}">{{charCtrl.item.playerSkill.sleightofHand}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.stealthPro}">{{charCtrl.item.playerSkill.stealth}}</td>
                <td ng-class="{'bold' : charCtrl.item.playerSkill.survivalPro}">{{charCtrl.item.playerSkill.survival}}</td>

            </tr>
        </tbody>
    </table>

    <hr />


</div>


@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("myApp")
                .factory('$characterService', CharacterService)

            CharacterService.$inject = ['$http'];

            function CharacterService($http) {
                return {
                    charGetById: _charGetById
                };

                function _charGetById(id) {
                    return $http.get('/api/dnd/character/' + id)
                        .then(onSuccessCharGetById)
                        .catch(onError);
                }

                function onSuccessCharGetById(response) {
                    return response.data;
                }

                function onError() {
                }
            }
        })();
    </script>

    <script type="text/javascript">
        (function () {
            angular.module("myApp")
                .controller('characterController', CharacterController)

            CharacterController.$inject = ['$scope', '$characterService'];

            function CharacterController($scope, $characterService) {
                var vm = this;
                vm.$scope = $scope;
                vm.$characterService = $characterService;
                vm.charId = $("#hiddenInput").val();
                vm.getChar = _getChar;
                vm.onSuccessCharGet = _onSuccessCharGet;
                vm.item;
                vm.hitDice;
                vm.proficiencyBonus;

                render();

                function render() {
                    vm.getChar(vm.charId);
                }

                function _getChar(id) {
                    return vm.$characterService.charGetById(id)
                        .then(vm.onSuccessCharGet)

                }
                function _onSuccessCharGet(data) {
                    vm.item = data.item;
                    processHitDice(vm.item);
                    vm.proficiencyBonus = vm.item.mainStats.proficiencyBonus;
                    processProfiencies(vm.item.playerSkill);
                }


                function processHitDice(data) {
                    if (data.hitDice.d4 > 0) {
                        vm.hitDice = data.hitDice.d4 + " D4";
                    }
                    else if (data.hitDice.d6 > 0) {
                        vm.hitDice = data.hitDice.d6 + " D6";
                    }
                    else if (data.hitDice.d8 > 0) {
                        vm.hitDice = data.hitDice.d8 + " D8";
                    }
                    else if (data.hitDice.d10 > 0) {
                        vm.hitDice = data.hitDice.d10 + " D10";
                    }
                    else {
                        vm.hitDice = data.hitDice.d12 + " D12";
                    }
                }

                function processProfiencies(data) {
                    console.log(data);
                    if (data.acrobaticsPro) {
                        vm.item.playerSkill.acrobatics = data.acrobatics + vm.proficiencyBonus;
                    }
                    if (data.animalHandlingPro) {
                        vm.item.playerSkill.animalHandling = data.animalHandling + vm.proficiencyBonus;
                    }
                    if (data.arcanaPro) {
                        vm.item.playerSkill.arcana = data.arcana + vm.proficiencyBonus;
                    }
                    if (data.athleticsPro) {
                        vm.item.playerSkill.athletics = data.athletics + vm.proficiencyBonus;
                    }
                    if (data.deceptionPro) {
                        vm.item.playerSkill.deception = data.deception + vm.proficiencyBonus;
                    }
                    if (data.historyPro) {
                        vm.item.playerSkill.history = data.history + vm.proficiencyBonus;
                    }
                    if (data.insightPro) {
                        vm.item.playerSkill.insight = data.insight + vm.proficiencyBonus;
                    }
                    if (data.intimidationPro) {
                        vm.item.playerSkill.intimidation = data.intimidation + vm.proficiencyBonus;
                    }
                    if (data.investigationPro) {
                        vm.item.playerSkill.investigation = data.investigation + vm.proficiencyBonus;
                    }
                    if (data.medicinePro) {
                        vm.item.playerSkill.medicine = data.medicine + vm.proficiencyBonus;
                    }
                    if (data.naturePro) {
                        vm.item.playerSkill.nature = data.nature + vm.proficiencyBonus;
                    }
                    if (data.perceptionPro) {
                        vm.item.playerSkill.perception = data.perception + vm.proficiencyBonus;
                    }
                    if (data.performancePro) {
                        vm.item.playerSkill.performance = data.performance + vm.proficiencyBonus;
                    }
                    if (data.persuasionPro) {
                        vm.item.playerSkill.persuasion = data.persuasion + vm.proficiencyBonus;
                    }
                    if (data.religionPro) {
                        vm.item.playerSkill.religion = data.religion + vm.proficiencyBonus;
                    }
                    if (data.sleightofHandPro) {
                        vm.item.playerSkill.sleightofHand = data.sleightofHand + vm.proficiencyBonus;
                    }
                    if (data.stealthPro) {
                        vm.item.playerSkill.stealth = data.stealth + vm.proficiencyBonus;
                    }
                    if (data.survivalPro) {
                        vm.item.playerSkill.survival = data.survival + vm.proficiencyBonus;
                    }




                }

            }
        })();
    </script>
}





