
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>This View is Still Under Construction</h1>
    <a href="/DnD/CharacterCreate">Please go here to construct your character!</a>
</div>


