
@{
    ViewBag.Title = "ContactMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="emailController as emailCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                        <form name="contactForm" ng-submit="emailCtrl.sendEmail(emailCtrl.item)" novalidate class="form-horizontal">

                            <fieldset>
                                <legend class="text-center">Contact us</legend>

                                <!-- Name input-->
                                <div class="form-group" ng-class="{'has-error' : contactForm.name.$invalid && contactForm.name.$touched }">
                                    <label class="col-md-3 control-label" for="name">Name</label>
                                    <div class="col-md-9">
                                        <input id="name" name="name" type="text" placeholder="Your name" ng-model="emailCtrl.item.name" class="form-control" required maxlength="50">
                                    </div>
                                </div>

                                <!-- Email input-->
                                <div class="form-group" ng-class="{'has-error' : contactForm.email.$invalid && contactForm.email.$touched }">
                                    <label class="col-md-3 control-label" for="email">Your E-mail</label>
                                    <div class="col-md-9">
                                        <input type="email" name="email" class="form-control" placeholder="Your email" ng-model="emailCtrl.item.sender" ng-pattern='/^(([^<>()\[\]\\.,;:\s@('@')_"]+(\.[^<>()\[\]\\.,;:\s@('@')"]+)*)|(".+"))@('@')((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required maxlength="50" />
                                        <div ng-messages="contactForm.email.$error">
                                            <div ng-message="pattern">Please Enter a Valid Email.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Message body -->
                                <div class="form-group" ng-class="{'has-error' : contactForm.message.$invalid && contactForm.message.$touched }">
                                    <label class="col-md-3 control-label" for="message">Your message</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="message" name="message" ng-model="emailCtrl.item.message" placeholder="Please enter your message here..." rows="5" ng-required="true"></textarea>
                                    </div>
                                </div>

                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" ng-disabled="contactForm.$invalid ||emailCtrl.disabled" class="btn btn-primary btn-lg">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        (function () {
            angular.module("myApp")
                .factory('$emailService', EmailService)

            EmailService.$inject = ['$http'];

            function EmailService($http) {
                return {
                    sendEmail: _sendEmail

                };

                function _sendEmail(item) {
                    return $http.post("/api/email/contactme", item)
                        .then(onSuccessSentEmail)
                        .catch(onError);
                }

                function onSuccessSentEmail(response) {
                    return response.data;

                }

                function onError(response) {
                    return console.log(response.data);
                }
            }
        })();
    </script>


    <script type="text/javascript">
        (function () {
            angular.module('myApp')
                .controller("emailController", EmailController)
            EmailController.$inject = ['$scope', '$emailService', 'toastr', '$timeout'];

            function EmailController($scope, $emailService, toastr, $timeout) {
                var vm = this;
                vm.$scope = $scope;
                vm.$emailService = $emailService;
                vm.disabled = false;

                vm.item;
                vm.sendEmail = _sendEmail;
                vm.onSuccessSent = _onSuccessSent;


                render();

                function render() {
                }

                function _sendEmail() {
                    return $emailService.sendEmail(vm.item)
                        .then(vm.onSuccessSent)
                }
                function _onSuccessSent(data) {
                    vm.disabled = true;
                    toastr.success("You have successfully sent the email.");
                    $timeout(function () {
                        location.reload();
                    }, 4000);
                }


            }
        })();
    </script>
}
